.about-us {
  @include elastic-layout;
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
  grid-template-rows: min-content auto;
  margin-top: 9px;
}

.about-us__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.about-us__features-list {
  @include list-zeroing;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  flex-direction: column;
}

.about-us__feature-item {
  position: relative;
  padding-top: 63px;
  padding-bottom: 20px;

  &::before {
    position: absolute;
    content: "";
    top: 20px;
    left: 5px;
    background-repeat: no-repeat;
  }

  &--ecologically {
    &::before {
      width: 33px;
      height: 38px;
      top: 6px;
      left: 8px;
      background-image: url("../img/icon-ecologically.svg");
    }
  }

  &--price {
    &::before {
      width: 47px;
      height: 27px;
      top: 8px;
      left: -1px;
      background-image: url("../img/icon-price.svg");
    }
  }

  &--likes {
    &::before {
      width: 34px;
      height: 27px;
      top: 12px;
      left: 7px;
      background-image: url("../img/icon-likes.svg");
    }
  }

  &--roll {
    &::before {
      width: 35px;
      height: 34px;
      top: 9px;
      left: 4px;
      background-image: url("../img/icon-roll.svg");
    }
  }

  &--domestic {
    &::before {
      width: 55px;
      height: 23px;
      top: 10px;
      left: -6px;
      background-image: url("../img/icon-domestic.svg");
    }
  }

  &--gift {
    &::before {
      width: 33px;
      height: 32px;
      top: 8px;
      left: 3px;
      background-image: url("../img/icon-gift.svg");
    }
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 47px;
  }

  .about-us__features-list {
    font-size: 20px;
    line-height: 22px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    row-gap: 27px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    @include desktop-layout;
    box-sizing: border-box;
    padding-right: 50px;
  }

  .about-us__title,
  .about-us__features-list {
    @include big-left-padding;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
    margin-top: 64px;
    margin-bottom: 34px;
  }

  .about-us__features-list {
    grid-template-columns: repeat(2, max-content);
    column-gap: 116px;
  }
}
