.categories {
  @include elastic-layout;
}

.categories__link-wrapper {
  display: flex;
  flex-direction: column;
}

.categories__link {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: $white;
  flex-grow: 1;
  padding: 0 30px;
  padding-top: 24px;
  padding-bottom: 31px;
  padding-right: 27px;

  &::after {
    position: absolute;
    content: "";
  }

  &--interior {
    background-color: $light-green;

    &::after {
      width: 40px;
      height: 62px;
      top: 22px;
      right: 36px;
      background-image: url("../img/interior.svg");
    }
  }

  &--toys {
    background-color: $green;

    &::after {
      width: 60px;
      height: 60px;
      top: 21px;
      right: 27px;
      background-image: url("../img/toy.svg");
    }
  }
}

@media (min-width: $tablet-width) {
  .categories {
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
  }

  .categories__link {
    width: 334px;
    font-size: 20px;
    line-height: 30px;
    padding: 0 36px;
    padding-top: 25px;
    padding-bottom: 42px;

    &--interior {
      padding-top: 28px;

      &::after {
        top: 29px;
        right: 38px;
      }
    }

    &--toys {
      padding-right: 33px;
      padding-top: 27px;

      &::after {
        top: 32px;
        right: 34px;
      }
    }
  }

  .categories__link-wrapper {
    flex-direction: row;
  }
}


@media (min-width: $desktop-width) {
  .categories {
    @include desktop-layout;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
  }

  .categories__link {
    width: 525px;
    padding-bottom: 48px;
  }
}
