.categories {
  @include elastic-layout;
}

.categories__link-wrapper {
  display: flex;
  flex-direction: column;
}

.categories__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: $white;
  flex-grow: 1;
  padding: 0 30px;
  padding-top: 24px;

  &--interior {
    background-color: $light-green;
    padding-bottom: 17px;
  }

  &--toys {
    background-color: $green;
    padding-bottom: 19px;
  }
}


@media (min-width: $tablet-width) {
  .categories {
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
  }

  .categories__link {
    width: 334px;
    font-size: 20px;
    line-height: 30px;
    padding: 0 36px;
    padding-top: 25px;
    padding-bottom: 42px;
  }

  .categories__link-wrapper {
    flex-direction: row;
  }
}


@media (min-width: $desktop-width) {
  .categories {
    @include desktop-layout;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
  }

  .categories__link {
    width: 525px;
    padding-bottom: 48px;
  }
}
