.form {
  margin-bottom: 55px;
  display: flex;
  flex-direction: column;
}

.form__annotation {
  @include container;
  font-size: 13px;
  line-height: 24px;
  color: $light-black;
}

.form__radio-list,
.form__checkbox-list {
  @include list-zeroing;
}

.form__fieldset {
  @include container;
  position: relative;
  margin-top: 30px;
  font-size: 17px;
  border: none;

  &::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 1px;
    right: 30px;
    top: 7px;
    background-color: $line-green;
  }

  &--email {
    &::before {
      width: 182px;
    }
  }
}

.form__group-title {
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: $light-green;
}

.form__text {
  display: flex;
  flex-direction: column;
  margin-top: 22px;

  &--phone,
  &--email,
  &--textarea {
    margin: 0;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: $light-green;
  }
}

.form__text,
.form__checkbox-label,
.form__radio {
  font-weight: 700;
  line-height: 18px;
}

.form__checkbox-unit {
  margin-top: 23px;
}

.form__text-input,
.form__textarea {
  line-height: 18px;
  width: 100%;
  padding: 17px 0;
  border: none;
  box-shadow: inset 0 -2px 0 $black;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
}

.form__text-input {
  &--name,
  &--surname,
  &--patronymic {
    margin-left: 20px;
  }
}

.form__textarea {
  margin-top: 22px;
}

.form__order-wrapper {
  @include container;
  margin-top: 17px;
  display: flex;
  flex-direction: column;
}

.form__note {
  font-size: 14px;
  line-height: 16px;
  color: $light-black;
}

.form__submit {
  width: 260px;
  font-size: 17px;
  line-height: 16px;
  margin-top: 30px;
  padding: 16px 0;
}

@media (min-width: $tablet-width) {
  .form__annotation {
    padding: 0 50px;
  }

  .form__annotation,
  .form__note {
    font-size: 17px;
    line-height: 30px;
  }

  .form__radio-list,
  .form__checkbox-list {
    width: 500px;
  }

  .form__wrapper {
    &--interactive {
      @include second-column;
      width: 500px;
    }

    &--coloring {
      background-color: $light-gray;
    }
  }

  .form__fieldset {
    font-size: 19px;
    display: grid;
    grid-template-columns: auto 500px;
    padding: 0 50px;

    &::before {
      width: 0;
    }
  }

  .form__group-title {
    @include first-column;
  }

  .form__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .form__checkbox-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__checkbox-label {
    display: inline-block;
    width: 200px;
  }

  .form__order-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }


  @media (min-width: $desktop-width) {
    .form__annotation,
    .form__order-wrapper {
      box-sizing: unset;
      padding: 0;
      margin: 0 auto;
      width: 700px;
    }

    .form__wrapper {
      &--interactive {
        width: 700px;
      }
    }

    .form__fieldset {
      box-sizing: unset;
      grid-template-columns: 125px 700px;
      padding: 0;
      padding-left: 100px;
    }

    .form__radio-list,
    .form__checkbox-list {
      width: 700px;
    }
  }
}
