.item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  outline: 1px solid $shadow-gray;
  border-top: none;
}

.item__text-wrapper {
  padding-left: 28px;
  padding-bottom: 5px;
}

.item__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  margin-top: 30px;
}

.item__title-link {
  text-decoration: none;
  color: $black;
}

.item__photo,
.item__photo-link {
  margin: 0 auto;
  width: 260px;
  height: 195px;
}

.item__description {
  font-size: 13px;
  line-height: 30px;
  margin-top: 5px;
  color: $light-black;
}

.item__order-wrapper {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 27px;
  padding-bottom: 26px;
  padding-top: 22px;

  &::before {
    @include centering;
    position: absolute;
    content: "";
    width: 204px;
    height: 1px;
    top: 0;
    background-color: $shadow-gray;
  }
}

.item__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.item__cart {
  width: 21px;
  height: 18px;
}

@media (min-width: $tablet-width) {
  .item {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 73px;
    margin-top: 54px;
  }

  .item__title {
    width: 230px;
    font-size: 20px;
    margin-top: 27px;
  }

  .item__text-wrapper {
    @include second-column;
    @include first-row;
    padding-left: 33px;
    border-top: 1px solid $shadow-gray;
  }

  .item__description {
    font-size: 15px;
  }

  .item__price {
    font-size: 17px;
  }

  .item__photo,
  .item__photo-link {
    width: 334px;
    height: 334px;
  }

  .item__photo-link {
    @include all-rows;
    @include first-column;
  }

  .item__order-wrapper {
    @include second-column;
    @include second-row;
    width: 335px;
    padding-left: 33px;
    align-items: flex-end;

    &::before {
      width: 268px;
    }
  }
}

@media (min-width: $desktop-width) {
  .item {
    display: flex;
    flex-direction: column;
    justify-content: unset;
  }

  .item__text-wrapper {
    box-sizing: border-box;
    width: 316px;
    padding-left: 28px;
    padding-bottom: 24px;
    border: none;

    &--large-basket {
      padding-bottom: 0;
    }
  }

  .item__title {
    margin-top: 27px;
  }

  .item__photo,
  .item__photo-link {
    width: 316px;
    height: 462px;
  }

  .item__order-wrapper {
    padding: 0 27px;
    padding-top: 23px;
    padding-bottom: 25px;
    margin-top: auto;
    width: 316px;

    &::before {
      width: 256px;
    }
  }
}
