.logo {
  display: block;
  padding-top: 22px;
  padding-bottom: 18px;
  margin: 0 auto;
  width: 86px;

  &--header {
    &:hover {
      opacity: 0.6;
    }

    &:focus {
      opacity: 0.3;
    }
  }

  &--footer {
    display: none;

    &-image {
      fill: black;

      &:hover {
        fill: $footer-green;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .logo {
    &--header {
      @include first-column;
      @include first-row;
      margin: 0;
      padding-left: 50px;
    }

    &--footer {
      display: block;
      margin: 0;
      width: 102px;
      height: 34px;
    }
  }

  .logo,
  .logo__image {
    &--header {
      width: 113px;
      height: 46px;
    }
  }
}

@media (min-width: $desktop-width) {
  .logo {
    &--header {
      grid-column: 3 / 4;
      margin: 0 auto;
      padding: 0;
      padding-top: 9px;
    }
  }

  .logo,
  .logo__image {
    &--header {
      width: 149px;
      height: 72px;
    }
  }
}
