.logo {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  &--hidden {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    &--hidden {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .logo {
    grid-column: 3 / 4;
  }

  .logo--hidden {
    grid-column: 1 / 2;
  }
}
