.main-navigation {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: auto 1fr;
}

.main-navigation__list {
  @include list-zeroing;
}

.main-navigation__toggle {
  margin-left: 210px;
  @include first-row;
}

.main-navigation__wrapper {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__wrapper {
    display: grid;
    grid-template-columns: 340px auto 1fr;
    grid-template-rows: 1fr auto;
    @include second-row;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__wrapper {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto auto;
  }
}
