.main-navigation {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  @include all-rows;
  @include all-columns;
  display: grid;
  grid-template-rows: auto 1fr;
}

.main-navigation__list {
  @include list-zeroing;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-navigation__toggle {
  margin-left: auto;
  @include first-row;
  width: 20px;
  height: 14px;
}

.main-navigation__wrapper {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__wrapper {
    display: grid;
    @include header-grid-tablet;
    @include second-row;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__wrapper {
    @include header-grid-desktop;
  }
}
