.page-main__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  padding: 73px 0;
  background-color: $light-gray;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    font-size: 43px;
    line-height: 50px;
    padding: 75px 0;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    font-size: 53px;
    line-height: 57px;
    padding: 95px 0;
  }
}
