.page-header {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content 1fr;
  padding: 22px 31px;
  box-shadow: 0 1px 0 $shadow-gray,
    inset 0 1px 0 $shadow-gray;
}

.page-header__offer {
  display: none;
  line-height: 24px;
  color: $light-black;
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 100px;
    @include header-grid-tablet;
  }

  .page-header__offer {
    display: block;
    @include second-row;
    @include last-column;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    @include header-grid-desktop;
  }
}
