.page-footer {
  margin-top: 39px;
  background-color: $light-gray;
}

.page-footer__wrapper {
  @include elastic-layout;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 69px;
  padding-top: 25px;
  padding-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 33px;
    padding-bottom: 36px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) {
    .page-footer__wrapper {
      @include desktop-layout;
      box-sizing: border-box;
      padding: 0 50px;
      padding-top: 31px;
      padding-bottom: 38px;
    }
  }
}
