.page__body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  min-width: $mobile-width;
  margin: 0 auto;
  color: $black;
  background-color: $white;
}

@media (min-width: $tablet-width) {
  .page__body {
    padding: 0 50px;
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .page__body {
    width: $desktop-width;
  }
}
