.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 755px;
  position: relative;
  padding: 0 30px;
  margin-top: 31px;
  padding-bottom: 36px;
  color: $light-black;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    bottom: 0;
    left: 0;
    background-image: url("../img/zigzag-line.svg");
  }
}

.product__title-wrapper {
  display: flex;
  flex-direction: column;
}

.product__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  color: $black;
}

.product__label {
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  color: $light-green;
}

.product__info {
  line-height: 24px;
}

.product__stats {
  line-height: 20px;
}

.product__stats-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.product__order-wrapper {
  display: flex;
  flex-direction: column;
}

.product__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .product {
    min-height: 500px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
  }

  .product__title-wrapper {
    @include first-row;
    @include all-columns;
    flex-direction: row;
    justify-content: space-between;
  }

  .product__info {
    @include second-row;
    @include first-column;
  }

  .product__order-wrapper {
    @include last-row;
    @include first-column;
  }

  .product__photo {
    grid-row: 2 / -1;
    @include second-column;
  }
}

@media (min-width: $desktop-width) {
  .product {
    min-height: 702px;

  }

  .product__title-wrapper {
    flex-direction: row-reverse;
    justify-content: stretch;
  }

  .product__title {
    margin-right: auto;
  }
}
