.production {
  @include elastic-layout;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 58px;
}

.production__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding-left: 91px;
  margin: 0;
  padding-top: 21px;
  padding-bottom: 26px;
  outline: 1px solid $shadow-gray;
}

.production__order-wrapper {
  padding-left: 34px;
  padding-bottom: 33px;
  outline: 1px solid $shadow-gray;
}

.production__description {
  font-size: 13px;
  line-height: 24px;
  margin-top: 35px;
  color: $light-black;
}

.production__submit {
  font-size: 18px;
  width: 192px;
  line-height: 16px;
  padding: 16px 0;
  margin-top: 28px;
}

.production__video {
  @include elastic-layout;
  height: 150px;
  background-image: url("../img/video-background.jpg");
}


@media (min-width: $tablet-width) {
  .production {
    padding: 0;
    outline: 1px solid $shadow-gray;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 53px;
    margin-bottom: 62px;
  }

  .production__video {
    width: 668px;
    height: 455px;
    order: 1;
  }

  .production__title,
  .production__order-wrapper {
    order: 2;
  }

  .production__title {
    font-size: 20px;
    padding-top: 42px;
    padding-left: 107px;
    padding-bottom: 23px;
    border: none;
  }

  .production__description {
    font-size: 15px;
    line-height: 30px;
    margin: 0;
  }

  .production__order-wrapper {
    padding: 0 42px;
    padding-bottom: 45px;
    border: none;
  }

  .production__submit {
    font-size: 17px;
    width: 584px;
    margin-top: 42px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    width: 1050px;
    display: grid;
    grid-template-columns: auto 367px;
    grid-template-rows: max-content auto;
    margin: 0 auto;
    margin-top: 58px;
    margin-bottom: 105px;
  }

  .production__video {
    @include first-column;
    @include all-rows;
    width: 683px;
    height: 455px;
  }

  .production__description {
    width: 252px;
  }

  .production__title {
    @include first-row;
    width: 178px;
    padding-top: 96px;
  }

  .production__order-wrapper {
    @include second-row;
  }

  .production__title,
  .production__order-wrapper {
    @include second-column;
    padding-left: 79px;
    outline: none;
  }

  .production__submit {
    width: 230px;
    margin-top: 55px;
  }
}
