.product {
  position: relative;
  padding: 0 30px;
  margin-top: 31px;
  padding-bottom: 36px;
  color: #444444;

  &::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 6px;
    bottom: 0;
    left: 0;
    background-image: url("../../img/zigzag-line.svg");
  }
}

.product__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.product__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}

.product__info {
  font-size: 15px;
  line-height: 24px;
}

.product__stats {
  line-height: 20px;
}

.product__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.product__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
}
