.production {
  @include elastic-layout;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 58px;
}

.production__info-wrapper {
  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.production__title {
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding-left: 91px;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  outline: 1px solid $shadow-gray;

  &::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 22px;
    left: 34px;
    top: 37px;
    background-image: url("../img/icon-video.svg");
  }
}

.production__title-text {
  display: block;
  width: 130px;
}

.production__order-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 33px;
  padding-bottom: 33px;
  margin-top: 150px;
  outline: 1px solid $shadow-gray;
}

.production__description {
  font-size: 13px;
  line-height: 24px;
  margin-top: 35px;
  color: $light-black;
}

.production__submit {
  font-size: 18px;
  width: 192px;
  line-height: 16px;
  padding: 16px 0;
  margin-top: 28px;
}

.production__video {
  @include elastic-layout;
  position: absolute;
  top: 97px;
  left: 0;
  height: 150px;
  background-image: url("../img/video-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 260px auto;
  }
}

.production__play {
  border: none;
  outline: none;
  width: 101px;
  height: 77px;
  padding: 0;
  background-color: transparent;

  &:hover .production__play-icon {
    transform: scale(1.2);
  }

  &:focus .production__play-icon {
    transform: scale(0.8);
    opacity: 0.3;
  }
}


@media (min-width: $tablet-width) {
  .production {
    padding: 0;
    outline: 1px solid $shadow-gray;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 53px;
    margin-bottom: 62px;
  }

  .production__video {
    position: unset;
    height: 455px;
    order: 1;
    background-image: url("../img/video-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 668px auto;
    }
  }

  .production__info-wrapper {
    order: 2;
  }

  .production__title {
    font-size: 20px;
    padding-top: 42px;
    padding-left: 107px;
    padding-bottom: 23px;
    border: none;

    &::before {
      left: 42px;
      top: 39px;
    }
  }

  .production__title-text {
    display: inline;
  }

  .production__description {
    font-size: 15px;
    line-height: 30px;
    margin: 0;
  }

  .production__order-wrapper {
    padding: 0 42px;
    padding-bottom: 45px;
    margin-top: 0;
    border: none;
  }

  .production__title,
  .production__order-wrapper {
    outline: none;
  }

  .production__submit {
    font-size: 17px;
    width: 584px;
    margin-top: 42px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    width: 1050px;
    display: grid;
    grid-template-columns: auto 367px;
    grid-template-rows: max-content auto;
    margin: 0 auto;
    margin-top: 58px;
    margin-bottom: 105px;
  }

  .production__video {
    @include first-column;
    @include all-rows;
    width: 683px;
    height: 455px;
    background-image: url("../img/video-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
      background-size: 683px auto;
    }
  }

  .production__description {
    width: 252px;
  }

  .production__title {
    @include first-row;
    width: 178px;
    padding-top: 96px;
    padding-bottom: 25px;


    &::before {
      left: 79px;
      top: 47px;
    }
  }

  .production__order-wrapper {
    @include second-row;
    align-items: unset;
    padding-bottom: 59px;
  }

  .production__title,
  .production__order-wrapper {
    @include second-column;
    padding-left: 79px;
    outline: none;
  }

  .production__submit {
    width: 230px;
    margin-top: 55px;
  }
}
