.product {
  @include elastic-layout;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 42px;
  margin-top: 31px;
  color: $light-black;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    bottom: 0;
    left: 0;
    background-image: url("../img/mobile-zigzag.svg");
  }
}

.product__title-wrapper {
  display: flex;
  flex-direction: column;
}

.product__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  color: $black;
}

.product__label {
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  margin-top: 4px;
  color: $light-green;
}

.product__info {
  @include elastic-layout;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 24px;
}

.product__stats {
  line-height: 20px;
  margin-top: 22px;
}

.product__stats-item {
  display: grid;
  grid-template-columns: 97px 1fr;
  padding: 9px 0;
  border-bottom: 1px solid $shadow-gray;
}

.product__stats-definition {
  margin: 0;
}

.product__photo {
  margin-top: 17px;
  background-color: $products-gray;
}

.product__order-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.product__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.product__button {
  font-size: 18px;
  line-height: 20px;
  width: 260px;
  padding: 14px 0;
  margin-top: 24px;
}

@media (min-width: $tablet-width) {
  .product {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
    column-gap: 42px;
    padding-bottom: 62px;
    padding-left: 50px;
    padding-right: 50px;

    &::before {
      width: 100%;
      height: 17px;
      background-image: url("../img/tablet-zigzag.svg");
    }
  }

  .product__title-wrapper {
    @include first-row;
    @include all-columns;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }

  .product__title {
    font-size: 43px;
    line-height: 50px;
  }

  .product__label {
    line-height: 17px;
    width: 100px;
    text-align: center;
    padding-top: 3px;
    padding-right: 13px;
  }

  .product__info {
    @include second-row;
    @include first-column;
    width: 292px;
    margin-top: 9px;
    padding: 0;
  }

  .product__stats {
    margin-top: 39px;
  }

  .product__description {
    font-size: 17px;
    line-height: 30px;
  }

  .product__order-wrapper {
    @include last-row;
    @include first-column;
    margin-top: 30px;
  }

  .product__price {
    font-size: 20px;
  }

  .product__photo-wrapper {
    @include second-column;
    grid-row: 2 / -1;
  }

  .product__photo {
    @include second-column;
    grid-row: 2 / -1;
    width: 334px;
    height: 404px;
    margin-top: 51px;
  }

  .product__button {
    font-size: 17px;
    width: 292px;
    margin-top: 32px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    @include desktop-layout;
    position: relative;
    box-sizing: border-box;
    margin-top: 54px;
    padding-bottom: 96px;
    padding-left: 50px;
    padding-right: 50px;
    column-gap: 55px;
    grid-template-rows: repeat(2, auto);

    &::before {
      @include centering;
      width: 1050px;
      height: 23px;
      background-image: url("../img/desktop-zigzag.svg");
    }
  }

  .product__info,
  .product__order-wrapper {
    @include big-left-padding;
  }

  .product__title-wrapper {
    position: absolute;
    flex-direction: row-reverse;
    left: 32px;
    top: 51px;
  }

  .product__title {
    font-size: 53px;
    line-height: 57px;
    padding-left: 30px;
  }

  .product__photo-wrapper {
    @include all-rows;
  }

  .product__photo {
    @include all-rows;
    width: 525px;
    height: 636px;
    margin: 0;
  }

  .product__info {
    @include first-row;
    margin-top: 137px;
  }

  .product__stats {
    margin-top: 51px;
  }

  .product__order-wrapper {
    @include second-row;
    margin-top: 101px;
  }
}
