.promotions-list {
  display: none;
}

.promotions-list__link {
  text-decoration: none;
  color: $black;
}

@media (min-width: $desktop-width) {
  .promotions-list {
    @include second-row;
    grid-column: 1 / 3;
    font-size: 15px;
    display: flex;
    flex-direction: row;
  }

  .promotions-list__item {
    width: 234px;
    padding-top: 20px;
  }

  .promotions-list__link {
    padding-top: 20px;

    &--arrivals {
      padding-left: 51px;
      padding-right: 21px;
    }

    &--sales {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
