.promotions-list {
  display: none;
}

.promotions-list__link {
  text-decoration: none;
  color: $black;
}

@media (min-width: $desktop-width) {
  .promotions-list {
    display: flex;
    @include second-row;
    grid-column: 1 / 3;
  }
}
