.reviews {
  min-height: 540px;
  position: relative;
  padding: 0 30px;
  margin-top: 58px;
  padding-bottom: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content repeat(3, auto);

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    bottom: 0;
    left: 0;
    background-image: url("../img/zigzag-line.svg");
  }
}

.reviews__title,
.reviews__item,
.reviews__nav-buttons-wrapper,
.reviews__write-to-button {
  @include all-columns;
}

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.reviews__comment {
  line-height: 30px;
  color: $light-black;
}

.reviews__author {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.reviews__nickname {
  font-size: 17px;
  line-height: 30px;
  color: $light-black;
}

.reviews__write-to-button {
  color: $light-black;
}

@media (min-width: $tablet-width) {
  .reviews {
    min-height: 407px;
    grid-template-rows: min-content min-content;
  }

  .reviews__title {
    @include first-row;
    @include first-column;
  }

  .reviews__item {
    @include second-row;
  }

  .reviews__write-to-button {
    @include first-row;
    @include second-column;
  }

  .reviews__nav-buttons-wrapper {
    @include second-row;
    @include second-column;
    margin-top: auto;
    margin-left: auto;
  }
}
