.reviews {
  @include elastic-layout;
  position: relative;
  margin-top: 37px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 51px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content repeat(3, auto);

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    bottom: 0;
    left: 0;
    background-image: url("../img/mobile-zigzag.svg");
  }
}

.reviews__title,
.reviews__item,
.reviews__nav-buttons-wrapper,
.reviews__write-to-button {
  @include all-columns;
}

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

.reviews__item {
  display: flex;
  flex-direction: column;
}

.reviews__comment {
  line-height: 30px;
  color: $light-black;
}

.reviews__author {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-top: 18px;
}

.reviews__nickname {
  font-size: 17px;
  line-height: 30px;
  margin-top: 3px;
  color: $light-black;
}

.reviews__write-to-button {
  font-size: 18px;
  line-height: 20px;
  color: $light-black;
  width: 260px;
  margin: 0 auto;
  margin-top: 39px;
  padding: 14px 0;
}

.reviews__nav-buttons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.reviews__nav-button {
  flex-grow: 1;
  padding: 24px 0;
  border: 1px solid $shadow-gray;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  &--prev {
    background-image: url("../img/arrow-left.svg");
  }

  &--next {
    background-image: url("../img/arrow-right.svg");
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    grid-template-rows: min-content min-content;
    background-image: url("../img/reviews-background.jpg");
    background-repeat: no-repeat;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 135px;

    &::before {
      height: 17px;
      background-image: url("../img/tablet-zigzag.svg");
    }
  }

  .reviews__title {
    @include first-row;
    @include first-column;
    font-size: 43px;
    line-height: 50px;
    margin-top: 83px;
  }

  .reviews__item {
    @include second-row;
  }

  .reviews__comment {
    font-size: 17px;
    margin-top: 39px;

    br {
      display: none;
    }
  }

  .reviews__author {
    font-size: 18px;
    margin-top: 41px;
  }

  .reviews__write-to-button {
    @include first-row;
    @include second-column;
    font-size: 17px;
    width: 175px;
    margin: 0;
    margin-left: auto;
    margin-top: 79px;
  }

  .reviews__nav-buttons-wrapper {
    @include second-row;
    @include second-column;
    width: 175px;
    margin-top: auto;
    margin-left: auto;
  }

  .reviews__nav-button {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    @include desktop-layout;
    box-sizing: border-box;
    margin-top: 45px;
    padding-bottom: 189px;
    padding-right: 50px;
    background-position: left 50px top;

    &::before {
      @include centering;
      width: 1050px;
      height: 23px;
      background-image: url("../img/desktop-zigzag.svg");
    }
  }

  .reviews__title,
  .reviews__item {
    padding-left: 175px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    margin-top: 77px;
  }

  .reviews__comment {
    padding-right: 65px;
  }

  .reviews__author {
    font-size: 17px;
    margin-top: 22px;
  }

  .reviews__write-to-button {
    margin-top: 82px;
  }
}
