.site-list__item {
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 0 $shadow-gray,
    inset 0 1px 0 $shadow-gray;
}

.site-list__link {
  padding-top: 28px;
  padding-bottom: 27px;
  padding-left: 76px;
  flex-grow: 1;
  text-decoration: none;
  color: $black;
}

@media (min-width: $tablet-width) {
  .site-list {
    @include second-row;
    width: 340px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 15px;
    grid-column: 1 / 3;
    padding-left: 50px;
    padding-top: 21px;
  }

  .site-list__link {
    padding: 0;
  }

  .site-list__item {
    box-shadow: none;
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    @include first-row;
    grid-column: 1 / 3;
    font-size: 17px;
    padding: 0;
    width: 474px;
  }

  .site-list__item {
    flex-grow: 0;
  }

  .site-list__link {
    padding-top: 33px;

    &--catalog {
      padding-left: 50px;
      padding-right: 35px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    &--knitting {
      padding-left: 36px;
      padding-right: 43px;
    }
  }
}
