.social-network {
  @include list-zeroing;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.social-network__icon {
  fill: $black;

  &:hover {
    fill: $footer-green;
  }

  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social-network {
    width: 140px;
    justify-content: space-between;
  }
}
