// Colors

$light-green: #63d1bb;
$line-green: #62d1ba;
$green: #56c3b2;
$white: #ffffff;
$light-black: #444444;
$black: #000000;
$light-gray: #f1f1f1;
$shadow-gray: #ececec;
$toggle-black: #231f20;
$products-gray: #f9f9f9;

// Viewports

$mobile-width: 320px;
$mobile-width-max: 767px;
$tablet-width: 768px;
$tablet-width-max: 1149px;
$desktop-width: 1150px;
